*.Rproj.user
*.Rproj
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
*.tmp
*.txt
.git/
dev/
tsbiomass.Rcheck/
scratch/
.vscode/
.Rhistory
outputs_swfscfish/
cache/
.Rproj.user
*.csv
inst/docs
inst/slides
*.tar.gz
*.rds
*.log
tmp_*
temp_*
artifacts/
