*.Rproj.user
*.Rproj
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
.tmp
dev/
scratch/
.vscode/
.Rhistory
outputs_swfscfish/
cache/
.Rproj.user
*.csv
inst/docs
inst/slides